*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 60px;
    display: flex ;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: #f1f3f5;
}
nav .logo{
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo img{
    height: 80%;
    width: 50px;
}
nav .logo h2{
    font-size: 25px;
    font-weight: bold;
    color: #000;
}
nav .links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.links > a{
    padding: 0px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #757373;
}
.links >a:hover{
    color: #ca5024;
}
.links >a:active{
    color: #ca5024;
}
.signin button{
    padding: 10px 28px;
    font-size: 18px;
}
nav > .hamberg{
   background-color: #383131;
   height: 40px;
   width: 40px;
   color:#000 ;
   background-color: #fff;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   float: right;
   display: none;
  }
  .hamberg >span{
    width:20px;
    height: 4px;
    background-color: #000;
    margin: 3px;
  }
  .main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:#f1f3f5 ;
    padding: 40px 10px;
}
.main .texts{
    width: 700px;
    padding: 10px 20px;
    position: relative;
}
.main .texts h1{
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.5;
    font-style: normal;
}
.main .para{
    padding: 10px ;
    border-left: 2px solid #808080;
    width: 400px;
}
.main .texts p{
    color: #777474;
    font-size: 25px;
    line-height: 1.5;
}
.main button{
    margin-top: 15px;
    margin-right: 10px;
    padding: 15px 25px;
    font-weight: bold;
}
.main .btn1{
    background-color: rgb(238, 137, 30);
    color: #fff;
    
}
.main .images{
    position: relative;
}
.main .images .bgimage{
    height: 370px;
}
.main .images .mainimage{
    position: absolute;
    top: 3%;
    right: 20%;
    height: 350px;
}
.main .images .pattern{
    position: absolute;
    top: 0%;
    right: 5%;
    height: 380px;
    /* transform: rotate(10deg); */
}
.main .texts .curvearr{
    position: absolute;
    bottom: 10%;
    right: 15%;
}
.main .texts .orangearr{
    position: absolute;
    top: 5%;
   right: 15%;
}
.main .images .greenarr{
    position: absolute;
    left: 10%;
    bottom: -4%;
}
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 35px 40px;
    height: auto;
    background-color: #292727;
}
footer .text{
    width: 20%;
}
footer  h1,h3{
    font-size: 30px;
    color: #f1f3f5;
    line-height: 1.5;
    
}
footer h3{
    font-size: 19px;
    color: #f1f3f5;
    line-height: 1.5;
}
footer  p{
    color: #c6c0c0;
    line-height: 1.2;
    font-size: 18px;
    margin:20px 0px;

}
footer .imgtext{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
footer .vector3{
    background-color: #1eb37c;
    padding: 5px;
    border-radius: 5px;
}
footer .vector2{
    background-color: #ff4500;
    padding: 5px 10px;
    border-radius: 5px ;
}
footer .vector1{
    background-color: #2a085e;
    padding: 5px 8px;
    border-radius: 5px;
}
  @media screen and (max-width:920px){
    nav{
        display: flex;
        justify-content: space-between;
    }
    nav .links{
        display: none;
    }
    nav .signin{
        display: none;
    }
    nav .hamberg{
        display: flex;
    }
    .main{
        width: 100%;
        padding: 10px;
    }
    .main .texts{
    width: 500px;

    }
    .main .texts .curvearr{
        width: 100px;
        position: absolute;
        bottom: 2%;
        right: 10%;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    footer .text{
        width: 70%;
        margin: 0px auto;
    }
    footer .imgtext{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin: 0px auto;
    }
  }
  @media screen and (max-width:1130px){
    .main{
        height: auto;
        flex-direction: column;
        padding: 20px ;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
  }